@import '../../../assets/styles/base';

.notificationBar {
    height: unset;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // border-radius: 8.75px;
    align-items: center;
    justify-content: space-around;
    height: 240px;
    gap: 50px;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 32px;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        max-width: $widthScreen;
    }

    .notificationItem {
        display: flex;
        align-items: center;
        gap: 12px;
        background: #fff;
        border-radius: 8px;
        padding: 12px;
        box-shadow: 0px 8px 16px 0px rgba(145, 158, 171, 0.16);
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0px 12px 20px rgba(145, 158, 171, 0.25);
        }

        .iconContainer {
            flex-shrink: 0;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            .logo {     
                object-fit: contain;
            }
        }

        .textContainer {
            h4 {
                margin: 0;
                font-size: 16px;
                color: #1c252e;
                font-weight: 700;
                line-height: 120%;
            }

            p {
                margin: 8px 0 0;
                font-size: 14px;
                font-weight: 500;
                color: #637381;
                line-height: 150%;
            }
        }
    }
}
