.header-container {
    .swiper-slide {
        display: flex;
        align-items: center;
        gap: 10px;
        // img {
        //     width: 100%;
        //     display: flex;
        //     align-items: center;
        //     max-height: calc((#{$ScreenXXXLWidth} - 26px * 2) * 724 / 1868);
        //     padding: 0 4px;
        //     border-radius: 20px;
        //     object-fit: cover;
        //     opacity: 0.4;
        //     background: linear-gradient(0deg, rgba(24, 32, 41, 0.6), rgba(24, 32, 41, 0.6)),
        //         linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 81.32%);
        // }
    }

    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            height: 14px;
            width: 14px;
            margin: 0 6.5px;
            background: #383d40;
            opacity: 1;
            &.swiper-pagination-bullet-active {
                background: $commonFeatureColor;
            }
        }
    }
}
