@import '../../assets/styles/base';

.appHeaderContainer {
    background: radial-gradient(circle, #0d57c6 0%, #37cfff 50%, #0f5ed6 100%);
    position: relative;
}
.appHeader {
    width: 100%;
    overflow: hidden;

    .headerContainer {
        width: 100%;
        padding: 4px 0px;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $widthScreen;
    margin: 0px auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 4px 0px;
    font-size: 12px;
    line-height: 16px;
    color: $header-top-text;
    font-weight: 700;
    .left {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 24px;
        .content {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.header {
    width: 100%;
    background-color: $defaultBackgroundColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
    .headerTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 96px;
        max-width: $widthScreen;
        margin-left: auto;
        margin-right: auto;

        .headerLogo {
            display: flex;
            align-items: center;
            justify-content: center;

            .headerLogoImage {
                object-fit: contain;
            }
        }

        .headerSearchBar {
            position: relative;
            display: flex;
            flex: 1;
            max-width: 500px;
            height: 64px;
            .headerSearchInput {
                width: 100%;
                border-radius: 9999px;
                border: 1px solid $search-border;
                padding: 0.5rem 3rem 0.5rem 1rem;
                color: $old-price-color-product;
                outline: none;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                &:focus {
                    border-color: $primary-blue-header;
                    box-shadow: 0 0 0 3px $search-focus-shadow;
                }
            }

            .headerCameraButton,
            .headerSearchButton {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                cursor: pointer;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $dark-gray;

                &:hover {
                    background: transparent;
                }
            }

            .headerCameraButton {
                right: 3.5rem;
            }

            .headerSearchButton {
                right: 0;
                height: 100%;
                border-top-right-radius: 9999px;
                border-bottom-right-radius: 9999px;
                background-color: $primary-blue-header;
                color: $defaultBackgroundColor;
                padding: 0 1rem;

                &:hover {
                    background-color: $dark-blue;
                }
            }
        }

        .headerRightIcons {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            font-size: 0.875rem;
            color: $hot-badge-text;

            .headerLangSelector {
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }

            .headerCartWrapper {
                position: relative;
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 8px 12px;
                border-radius: 9999px;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;

                .headerCart {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .headerIcon {
                        height: 24px;
                        width: 24px;
                        color: $primary-blue-header;
                    }

                    .headerCartBadge {
                        position: absolute;
                        top: -10px;
                        left: 22px;
                        display: flex;
                        height: 24px;
                        width: 24px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 9999px;
                        background-color: $orange-badge;
                        font-size: 12px;
                        color: $defaultBackgroundColor;
                    }
                }
            }

            .headerAccount {
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }

    .headerMiddle {
        background-color: $light-gray;
        padding-top: 24px;
        padding-bottom: 24px;

        .headerMiddleContent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: $widthScreen;
            margin-left: auto;
            margin-right: auto;
        }

        .categoryButtonWrapper {
            position: relative;
        }

        .headerCategoryButton {
            background-color: $primary-blue-header;
            color: $defaultBackgroundColor;
            &:hover {
                background-color: $dark-blue;
            }
            span {
                margin-left: 8px;
            }
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            padding: 12px 16px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 8x;
            border: none;
            width: 263px;
            cursor: pointer;

            .headerIconSmall {
                margin-left: 4px;
                color: $defaultBackgroundColor;
            }
        }

        .headerNav {
            display: none;
            @media (min-width: 768px) {
                display: flex;
            }
            align-items: center;
            gap: 20px;

            .headerNavLink {
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: $heading-color;
                &:hover {
                    color: $primary-blue-header;
                }
            }
        }

        .headerServices {
            display: none;
            @media (min-width: 1024px) {
                display: flex;
            }
            align-items: center;
            gap: 20px;
            color: $hot-badge-text;
            font-size: 0.875rem;

            .headerServiceItem {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    .headerBottom {
        background-color: $light-gray-bg;
        padding-bottom: 32px;

        .headerBottomContent {
            max-width: $widthScreen;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.875rem;
            color: $dark-gray;
        }

        .headerBreadcrumbLink {
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            color: $old-price-color-product;
            &:hover {
                color: $primary-blue-header;
            }
        }

        .headerBreadcrumbSeparator {
            margin: 0 0.5rem;
        }

        .headerBreadcrumbLinkActive {
            font-weight: 500;
            color: $headerBreadcrumbLink;
            text-decoration: none;
        }
    }
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $heading-color;
}

.categoryText {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $heading-color;
}

.textService {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $heading-color;
}

.highlight {
    color: $highlight-yellow;
}