.header-container {
    .swiper-slide {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            height: 14px;
            width: 14px;
            margin: 0 6.5px;
            background: #383d40;
            opacity: 1;
            &.swiper-pagination-bullet-active {
                background: $commonFeatureColor;
            }
        }
    }
}
