$mainTextColor: black;
$navTextColor: rgba(0,0,0,0.65);
$navTextActiveColor: #1890ff;
$navBgActiveColor: #f9f9fc;
$defaultBackgroundColor: #fff;
$cardBackgroundColor: #090C0F;
$titleTextColor: #FFFFFF;
$descriptionTextColor: #AEAEAE;
$commonFeatureColor: #15CCA3;
$commonActiveTextColor: #FFFFFF;
$commonTextColor: #626687;
$backgroundColor: #E6F1FF;

$maxWidthScreen: 930px;
$minWidthScreen: 1086px;
$widthScreen: 1400px;
