$mainTextColor: black;
$navTextColor: rgba(0,0,0,0.65);
$navTextActiveColor: #1890ff;
$navBgActiveColor: #f9f9fc;
$defaultBackgroundColor: #fff;
$cardBackgroundColor: #090C0F;
$titleTextColor: #FFFFFF;
$descriptionTextColor: #AEAEAE;
$commonFeatureColor: #15CCA3;
$commonActiveTextColor: #FFFFFF;
$commonTextColor: #626687;
$backgroundColor: #E6F1FF;

$maxWidthMasterLayout: 1920px;
$maxWidthScreen: 930px;
// $maxWidthScreen: 1140px;
// $maxWidthScreen: 1280px;
$minWidthScreen: 1086px;

$ScreenLGWidth: 1024px;
$ScreenXLWidth: 1280px;
$ScreenXXXLWidth: 1920px;